.button {
    -fx-background-color: transparent;
    -fx-background-radius:0;
    -fx-border-color:black;
    -fx-border-width: 1 1 1 1;
}

.button:hover {
    -fx-background-color: transparent;
    -fx-background-radius:0;
    -fx-border-color:lime;
    -fx-border-width: 3 3 3 3;
    -fx-background-insets: 0;
}

.text-area {
    -fx-background-color: transparent;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}